
h1{
    font-family:"Segoe UI",Arial,sans-serif;
    font-weight: 400;
    margin: 10px 0;
}

.display-mode-header{
    display:inline-block;
    color:#00cc99;
    font-family: Sans-serif;
    margin-right: 20%;
}

.display-icon {
    display:inline-block;
    color:#00cc99;
    font-family: Sans-serif;
    margin-right: 5px;
}

.header{
    display:inline-block; 
    color:#696969; 
    margin-right: 55px;
}

.header-bar{
    display:inline-block; 
    width:67%; 
    border-bottom:solid 00.09em; 
    border-color: #D3D3D3;
    margin-right: 55px
}

.detail-header{
    display: inline;
}

.display-paragraph{
    display:inline-block;
    font-family: Sans-serif;
    width: 22%;
}
